.box {
  width: 250px;
  height: 250px;
  background-color: darkcyan;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16pt;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px;
  border-radius: 50%;
  position: absolute;
}
