.App {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.App img {
  position: absolute;
  z-index: 10;
  height: 300px;
  pointer-events: none;
}

.box {
  width: 250px;
  height: 250px;
  background-color: darkcyan;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16pt;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px;
  border-radius: 50%;
  position: absolute;
}
